
<div id="container">
<% @events.each do |event| %>
  <%= link_to(event_url(event.id)) do %>
  <div class="card" style="background: rgba(240,107,188,0.3)">
    <div class="overlay">
       <div class="cardinfo"><%= event.tickets.count %> Available Tickets</div>
      <div class="cardtitle"><%= event.name %></div>
    </div>
    </a>
  </div>
<% end %>
<% end %>
</div>