<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">Main Story</div>
  <div class="col-xs-6 col-sm-6 col-md-4">Login Area</div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4">Feature 1</div>
  <div class="col-xs-6 col-sm-4 col-md-4">Feature 2</div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs"></div>
  <div class="col-xs-6 col-sm-4 col-md-4">Feature 3</div>
</div>