<h1>Venue List</h1>


<div id="container">
<% @response["events"].each do |event| %>

	<div class="card" style="background: white url(<%= event["performers"][0]["image"] %>)">
		<div class="cardcontent"><%= event["title"] %></div>
    <div class="cardcontent"><%= event["venue"]["name"] %></div>
    <div class="cardcontent"><%= event["datetime_local"] %></div>
	</div>
<% end %>
</div>