/*body {
	background-color: #66E4D3;
	font-family: helvetica;
}

#container {
	background-color: #F06BBC;
	width: 600px;
	margin: 0 auto;
}

h1 {
	color: #FFE272;
}

table {
	color: #FFEFB2;
}

th {
	color: #FFEFB2;
}

.mybutton {
   border-top: 0px solid #96d1f8;
   background: #a8f1e7;
   padding: 5px 5px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #fff0b2;
   font-size: 22px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.mybutton:hover {
   border-top-color: #9c236c;
   background: #9c236c;
   color: #fff0b2;
   }
.mybutton:active {
   border-top-color: #85b577;
   background: #85b577;
   }
*/