<!DOCTYPE html>
<html>
<head>
  <title>Swicket</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-default navbar-fixed-top" id="navigation" role="navigation">
		<ul class="nav nav-tabs">
		  <li><a href="/">Home</a></li>
		  <li><a href="/events/show">List</a></li>
		  <li><a href="/events/new">New</a></li>
      <li><a href="/active">Active Events</a></li>
		</ul>
	</nav>

<%= yield %>

</body>
</html>
